.clue-answers {
  list-style-type: none;
}

.clue-answers-list {
  text-align: left;
  margin: 0 auto;
  display: inline-block;
  overflow: scroll;
}

.clue-answers-list > li {
  margin: 5px 0;
  font-size: 14px;
}