
.answer {
  letter-spacing: 5px;
}

ul.clue-answer {
  list-style-type: none;
  display: flex;
  width: 100%;
  padding-left: 0;
}

.clue-answer input {
  padding: 3px 5px;
	margin: 0.25em 15px 0.25em 5px;
  border: 1px solid black;
  border-radius: 3px;
}

.clue-answer input.answer {
  width: Calc(2ch * 10 - 1px);
	letter-spacing: 1ch;
  font: 2ch "Lucida Console", Monaco, monospace;
  padding-right: 1px;
  box-sizing: content-box;
  overflow: hidden;
}

.clue-answer input.answer:focus {
  outline: none;
  color: dodgerblue;
}

.clue-answer input.clue {
  font-size: 18px;
  line-height: 22px;
}