.clue-answer input {
  margin: 0 5px;
}

.answer {
  letter-spacing: 5px;
}

.ca-label {
  margin: 0 5px 0 10px;
}

.clue-answer input {
  padding: 3px 5px;
	margin: .25em auto;
  border: 1px solid black;
  border-radius: 3px;
}

.clue-answer input.answer {
  width: Calc(2ch * 10 - 1px);
	letter-spacing: 1ch;
  font: 2ch "Lucida Console", Monaco, monospace;
  padding-right: 1px;
  box-sizing: content-box;
  overflow: hidden;
}

.clue-answer input.answer:focus {
  outline: none;
  color: dodgerblue;
}

.clue-answer input.clue {
  font-size: 18px;
  line-height: 22px;
}