.clue-answers {
  list-style-type: none;
  padding: 0;
}

.clue-answers > li {
  display: inline-block;
  width: 100%;
}

.clue-answers-list {
  margin: 0 auto;
  padding: 0 0 0 40px;
  display: inline-block;
}

.clue-answers-list > li {
  margin: 5px 0;
  font-size: 14px;
}