* {
  box-sizing: border-box;
}

.editor {
  text-align: center;
}

.button-section {
  padding: 5px 5px 0px;
}

.button-section button {
  margin: 5px 10px;
}

ul#state {
  padding: 0;
}

#state li {
  list-style-type: none;
  margin: 5px 0;
}